body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 70vw;
}

.endpoint-def {
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 0 1em;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4);
}

.hide section {
    display: none;
}

.get {
    background-color: rgba(100, 255, 28, 0.555);
}

.post {
    background-color: rgba(28, 210, 255, 0.555);
}

.put {
    background-color: rgba(255, 251, 28, 0.65);
}

.delete {
    background-color: rgba(236, 2, 2, 0.609);
}

.route {
    display: flex;
    margin-bottom: 0.5em;
    padding: 0 1em;
    border-radius: 10px;

    align-items: center;
}

.route div:last-child {
    margin: 0 0 0 2em;
    
    width: 60%;
}

.route div:last-child p {
    font-size: 20px;
    margin: 0.5em;
}

.route div:last-child p:first-child {
    border-radius: 7px;
    color: white;
    background-color: rgb(90, 90, 90);
    padding: 1em;
}

.route div:last-child p:first-child:hover {
    background-color: rgb(104, 104, 104);
}